* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*responsividade das fontes*/
  font-size: 62.5%;
  /*fontes*/
  --ff-header: 'Staatliches', 'cursive';
  --ff-body: 'Palanquin', sans-serif;
  /*cores*/
  --color0: #23053A;
  --color1: #4A4E69;
  --color2: #8E9AAF;
  --color3: #CBC0D3;
  --color4: #FEEAFA;
  --color5: #EFF1FF;

}

body {
  width: 40rem;
  margin: 0 auto;
  align-items: center;
}

header {
  background-color: var(--color2);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 28rem;
}

header img {
  margin: 3.2rem auto 3.2rem;
}

header h1 {
  font-family: var(--ff-header);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--color3);
  width: 100%;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem;
  margin-bottom: 5rem;
}

main {
  padding: 1.4rem 3.2rem 6rem;
}

main .text {
  width: 30.5rem;
  height: 8.9rem;
  font-family: var(--ff-body);

  margin: 0 auto 4.9rem;

}

main .text p {
  font-family: var(--ff-body);
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.5rem;
  
  color: var(--color0);
  text-align: center;
  
}

div .page {
  display: grid;
  align-items: center;
 }

div .card {
 border-radius: 20px;
 position: relative;
 margin-bottom: 3.6rem;
}

div .card img {
  transition: all 200ms;
  filter: brightness(1);

  animation: downtop 2000ms;
}

div .card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

h2 {
  background-color: var(--color4);
  color: var(--color1);
  border-radius: 20px;
  
  font-family: var(--ff-header);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  
  height: 3.5rem;
  width: 11.2rem;
  padding: 0 2.4rem;


  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2.8rem;

  animation: topdown 2000ms;
}

/*animacoes*/

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}